* {
	box-sizing: border-box;
}

body {
	margin: 0;
}
.app {
	margin: 0;
	font-family: "Poppins", Arial, sans-serif;
	display: flex;
	flex-direction: column;
	/* Fixe le footer en bas de page quand le milieu est vide */
	min-height: 100vh;
}
/* Fixe le footer en bas de page */
.content {
	background-color: aqua;
	flex: 1;
}
